<manifest package="com.giift.formr"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <activity android:name=".barcode.BarcodeCaptureActivity"
                  android:label="@string/activity_barcode"/>
    </application>

</manifest>
